.container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.gameImg {
    width: 30%;
    transition: opacity 0.5s;
}

.gameImg:hover {
    opacity: 0.5;
}

.startContainer {
    display: flex;
    justify-content: center;
}

#start{
    margin-top: 45vh;
}

.scoreBoard {
    display: flex;
    justify-content: space-evenly;
}

.gameMessage {
    text-align: center;
}

.button {
    border: 3px solid black;
    padding: 3px;
    border-radius: 10px;
}

.button:hover {
    text-decoration: underline;
    border: 3px solid red;
    color: red;
}

.none {
    display: none;
}