.container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.gameImg {
    width: 30%;
}


.startContainer {
    display: flex;
    justify-content: center;
}

.scoreBoard {
    display: flex;
    justify-content: space-evenly;
}

.gameMessage {
    text-align: center;
}

#start {
    border: 3px solid black;
    padding: 3px;
}

#start:hover {
    text-decoration: underline;
    border: 3px solid red;
    color: red;
}

.none {
    display: none;
}