.container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.gameImg{
    width: 30%;
}


.startContainer{
    text-align: center;   
}

.scoreBoard{
    display: flex;
    justify-content: space-evenly;
}
.gameMessage{
    text-align: center;
}

#start:hover{
    text-decoration: underline;
    color: red;
}

.none{
    display: none;
}