body {
    font-family: 'Courier New', Courier, monospace;
}
button{
    font-family: 'Courier New', Courier, monospace;
}
.titleBox{
    text-align: center;
}
.board{
    width: 35vw;
    display: grid;
    border: 5px solid black;
    margin: 0 auto;
}
.gameCell:hover{
    cursor: crosshair;
}
.controllerDiv{
    display: flex;
    justify-content: center;
}
.sliderDiv{
    display: flex;
    flex-direction: column;
}
.control{
    margin: 15px;
}